.logo {
    margin: 30px 60px;
}
.menu {
    margin-top: 25px;
}
.navbar-nav .nav-link {
    color:black;
}
.navbar-nav .nav-link:hover {
    text-decoration: underline;
}
.dieuhuong {
    position:fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: rgb(248, 248, 248); 
}
.detail {
    box-shadow: 1px 1px 1px 1px black;
}
.loichao {
    font-size: 25px;
    margin: 50px 70px;
    color:rgb(145, 200, 200)
}
.slogan {
    font-size: 80px;
    margin: 40px 70px;
    font-weight: 540;
}
.slogan2 {
    font-size: 60px;
    margin: -50px 20px;
    font-weight: 540;
}
.slogan3 {
    font-size: 60px;
    text-align: center;
    margin: 50px;
    font-weight: 540;
}
.gioithieu  {
    font-size: 16px;
    opacity: 0.8;
    margin: 30px 70px;
    font-weight: 500;
}
.gioithieu2 {
    font-size: 16px;
    opacity: 0.8;
    margin: 50px 20px;
    font-weight: 500;
}
.anh {
    margin: 90px 5px;
    border-radius: 7px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}
.book {
    margin: 10px 70px;
    border-radius: 7px;
    width:150px;
    height: 50px;
    background-color: rgba(37, 173, 173, 0.862);
    color:white;
    border: 0px;
}
.book:hover {
    margin: 10px 70px;
    border-radius: 7px;
    width:150px;
    height: 50px;
    background-color: rgba(16, 96, 96, 0.862);
    color:white;
    border: 0px;
}
.seemore {
    margin: -10px 20px;
    border: 2px solid rgba(37, 173, 173, 0.862);
    border-radius: 7px;
    width:150px;
    height: 50px;
    background-color: white;
    color: rgba(37, 173, 173, 0.862);
}
.seemore:hover {
    margin: -10px 20px;
    border: 0px;
    border-radius: 7px;
    width:150px;
    height: 50px;
    background-color: rgba(37, 173, 173, 0.862);
    color: white;
}
.secret {
    width:550px;
    margin: 50px 70px;
    border-radius: 10px;
}

.aboutus {
    font-size: 25px;
    margin: 40px 20px;
    color:rgb(145, 200, 200);
}
#the {
    margin: 90px 90px;
    width: 380px;
    height:300px;
    background-color:white;
    padding: 10px;
}
#anh1 {
    width: 50px;
    height: 50px;
    margin: 30px 40px;
}
#i4Tours {
    font-size: 16px;
    margin: 15px 40px;
}
h4 {
    font-family: Cormorant Upright;
}
.service {
    font-size: 25px;
    margin-left: 58px;
    margin-top: 40px;
    padding: 10px;
    color:white;
    text-shadow: 1px 1px rgb(145, 200, 200);
}
.trend {
    font-family: Cormorant Upright;
    font-size: 40px;
    margin: 70px 60px;
    color: white;
    text-shadow: 1px 1px rgb(145, 200, 200);
}
.i4Trend {
    font-size: 16px;
    margin: -60px 60px;
}
.packages {
    text-align: center;
    margin: 50px;
    font-size: 30px;
    padding: 10px;
    color: rgba(37, 173, 173, 0.862);
}
#optionpackages {
    font-size: 25px;
    font-weight: 600;
    font-family: Cabin;
    margin: 10px -2px;
    color: rgb(26, 158, 168);
}
#price {
    font-size: 20px;
    font-weight: 600;
    margin: -10px 0px;
    display:flex;
}
/* Star rating */
div.stars {
    width: 270px;
    display: inline-block;
}
input.star {
    display: none;
}
label.star {
    padding: 10px;
    font-size: 15px;
    color: #FD4;
    margin-left: -10px;
}
label.star:before {
    content: '\f005';
    font-family: FontAwesome;
}
/* Slider */
.carousel {
    max-width: 1000px;
    max-height: 400px;
    margin:auto;
}
.carousel-inner img {
    width: 400px;
    height:250px;
}
.caption {
    text-align: left; /* Căn chữ sang trái */
    display: flex;
}
/* Offer*/
.offer {
    max-width: 1000px;
    margin: 50px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
/* Reason*/
.reason {
    margin: 20px 140px;
    font-size: 25px;
}
.custom-icon {
    margin-right: 30px;
    color: rgba(37, 173, 173, 0.862);
}
.tieude {
    font-size: 80px;
    margin: 40px 140px;
    font-weight: 540;
}
.tenwhy {
    font-size: 25px;
    margin: 50px 140px;
    color:rgb(145, 200, 200)
}
.discount {
    background-color: red;
    color: white;
    width: 50px;
    padding: 0px;
    text-align: center;
    margin: 0px 7px;
}
.travel {
    width: 370px;
    height: 350px;
    margin: 100px -20px;
    border-radius: 10px;
    transform: rotate(-10deg);
}
.travel1 {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    transform: rotate(10deg);
}
/* Ảnh khoảnh khắc*/
.memories1 {
    width:  250px;
    height: 350px;
    float:right;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
}
.memories {
    width:  250px;
    height: 350px;
    margin-left: 20px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
}
/*Footer*/
.call {
    transform: rotate(90deg);
}
.fot {
    display: flex;
    flex-flow: wrap;
}
.lienlac {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0% 9%;
}
.follow {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 23%;
}
.app {
    margin: 0% 5%;
    line-height: 50px;
    font-size: 20px;
}
.text {
    margin: 20% -15%;
    width: 400px; 
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(197, 191, 191);
}